body {
    display: grid;
    font-family: sans-serif;
    font-size: 300%;
    height: 100vh;
    place-items: center;
}

h1 {
    animation: fade 1ms 1s forwards;
    opacity: 0;
}

.text-reveal {
    overflow: hidden;
    position: relative;

    &::after  {
        animation: text-reveal 3.5s ease backwards;
        background-color: #157bad;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

    }
}

@keyframes text-reveal {

    from {
        transform: translateX(-101%);
    }

    to {
        transform: translateX(101%);
    }
}

@keyframes fade {
    to {
        opacity: 1;
    }

}